@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Noto+Serif+JP:wght@200;400&family=Oswald:wght@400;700&family=Poppins:ital,wght@0,300;0,600;1,100;1,400;1,500&family=Sacramento&family=Ubuntu:ital,wght@1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

body{
  font-size: 1rem;
}

#header{
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

.navbar{
  width: 100%;
  background: rgb(60, 60, 60);
}

#header .site-title{
 padding: 32px 16px;
 line-height: 3px;
 font-size: 1.7rem;
}

nav ul{
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li{
  list-style: none;
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

#pickup{
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;
}

.menu{
  padding-left: 405px;
}

#pickup article{
  width: 32%;
}
article img{
  max-width: 100%;
  object-fit: cover;
  border-style: none;
  height: 210px;
  width: 373px;
}

#pickup{
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;
}

.readmore{
  margin-top: 8px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}

.readmore a{
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

main {
  width: 65%;
}

#container{
  width: 1630px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.wrapper{
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.blog-image{
  height: 427px;
  width: 759px;
}

section{
  margin-bottom: 40px;
}

.blog-heading{
  font-size: 1.8em;
  font-weight: bold;
}

.blog-item p{
  margin: 10px;
}

.author{
  text-align: center;
  margin-bottom: 60px;
}

.author .profile{
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  
}

.author img {
  height: 130px;
  width: 130px;
  margin: 0 0 30px;
  border-radius: 50%;
}

#sidebar{
  width: 33%;
  display: flex;
  margin: 0 0 60px;
  padding: 20px;
  flex-direction: column;
}

#sidebar .side-title{
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}

aside{
 padding-right: 50px;
}

aside h3{
  font-weight: bold;
}

.ranking{
  text-align: center;
  margin-bottom: 60px;
}

.ranking .article-title{
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

.ranking article{
  margin-bottom: 30px;
}

article a{
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.archive{
  text-align: center;
  margin-bottom: 60px;
}

.archive ul{
  border-bottom: solid 1px #777;
}

.archive li{
  font-size: 0.875rem;
  border-top: solid 1px #777;
  padding: 20px;
  text-align: left;
  list-style: none;
}

.archive li a{
  color: #333;
  text-decoration: none;
}

#footer{
  font-size: 0.875rem;
  background-color: #f7f7f7;
}

#footer .content{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer .item{
  width: 30%;
}

#footer .footer-title{
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}
#footer ul.about-list {
  margin: 20px 0;
}

#footer ul.about-list li {
  margin-bottom: 5px;
  list-style: none;
}

#footer ul.about-list li a{
  text-decoration: none;
}

#footer ul.about-list .arrow {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  color: #333;
}



#footer ul.about-list .arrow::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

#footer .menu-list {
  border-bottom: solid 1px #777;
}

#footer .menu-list > li {
  border-top: solid 1px #777;
  padding: 15px;
  text-align: left;
}

#footer .menu-list li{
  list-style: none;
}

#footer .menu-list li a{
  text-decoration: none;
  color: #333;
}












